body{
    font-family: monospace;
}

.text{
    border: 3px blue solid;
    padding: 10px 15px;
    margin: 0px auto;
    width: 400px;
    background: rgba(255,255,255,0.8);
}
#page1{
    background-image: url("bg1.png");
}
#page2{
    background-image: url("bg2.png");
}
#page3{
    background-image: url("bg3.png");
}
#page4{
    background-image: url("bg4.png");
}
#page5{
    background-image: url("bg5.png");
}
#page7{
  /* background-image: url("bg6.png"); */
  height: 100vh;
}
.page{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%; 
    height: 100%;
    padding: 50px 100px 100px 110px;
}
#ending{
  margin-top:400px;
}
#intro{
  margin-bottom: 20px;
}
body{
    margin: 0px;
}
#intro{
    visibility:visible;
}
.next{
    width: 350px;
    background-color: white;
    color: blue;
    font-family: monospace;
    visibility: hidden;
}
::backdrop {
  background-color:blue;
  opacity: 0.75;
}

#submit, #resultButton, #nextButton5, #nextButton6{
    color: white;
    background-color: blue;
    font-family: monospace;
    margin-top: 12px;
}
#pics1 img{
    width: 80px; /* Adjust the size as needed */
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
#fileInput{
    margin-bottom: 2em;
}
.hidden {
    display: none;
  }
button{
    width: 100%;
    padding: 10px;
    font-weight:600;
    border: 3px blue solid;
    max-width: 350px;

  }
  button:hover {
    cursor: pointer;
    opacity: 0.8; /* Reduces opacity to 80%, making it appear darker */
}
  .url{
    width: 100%;
    text-align: center;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 8px 0px;
    size: 15px;
    color: blue;
  }
  .license{
    padding: 25px 15px;
    border: blue solid 3px;
    border-radius: 20px;
    height: 180px;
    width: 550px;
    background-color: white; 
    margin: 12px auto;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
  }
  .license input{
    width:100%;
    gap: 20px;
  }
  #final img {
    width: 140px;  /* Set your desired width */
    height: 175px; /* Set your desired height */
    object-fit: cover; /* This crops the image to fill the container */
    object-position: center; /* Centers the image within the container */
    padding-right: 10px;
}
  .row{
    display:flex;
    flex-direction: row;
    text-align: left;
    gap: 16px;
  }
  h2{
    font-weight: 400;
    font-size: 18px;
  }
  p{
    color: darkslategray;
  }
  dialog{
    padding: 56px;
    border: 3px blue solid;
  }
  
#igForm label, #hingeForm label, #linkedForm label{
    display:block;
    font-weight:400;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 12px;
    color: rgb(125, 125, 125);
  }
#igForm input, #hingeForm input, #linkedForm input
{
    width:100%;
  }
  .col{
    display:flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
  }
  .phone{
    width: 300px;
    height: 470px;
    margin: 24px auto;
    border: blue solid 2px;
    border-radius: 20px;
    padding: 18px;
    text-align: left;
    background-color:white;
    overflow: auto; /* Add a scrollbar if content overflows */
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);

  }
  button{
    text-align:center;
  }
  .page{
    text-align:center;
  }
  .license h3{
    margin:0px;
  }
  @media only screen and (max-width: 600px) {
    .phone, .text{
      width:80vw;
    }
    .page{
      padding: 10px 0px;
    }
    .license{
      width: 90vw;
    }
    #final img {
display: none;
    }
  }