body{
    font-family: sans-serif;
}
.hidden {
    display: none;
  }
  #submit, #resultButton{
    width: 100%;
    padding: 10px;
    font-weight:600;
  }
  .url{
    width: 100%;
    text-align: center;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 8px 0px;
  }
  .license{
    padding: 40px 20px;
    border: black solid 2px;
    border-radius: 20px;
    height: 200px;
  }
  .license input{
    width:100%;
    gap: 20px;
  }
  #final img{
    height: 200px;
    width: auto;
    padding-right:20px;
  }
  .row{
    display:flex;
    flex-direction: row;
    text-align: left;
  }
#igForm label, #hingeForm label, #linkedForm label{
    display:block;
    font-weight:600;
    margin-bottom: 8px;
  }
#igForm input, #hingeForm input, #linkedForm input{
    width:100%;
  }
  .col{
    display:flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 16px;
  }
  #page7{
    background-image: url(https://media.tenor.com/-P2bbtNdQCkAAAAe/evangelion-congratulations-evangelion.png);
    height: 400px;
    width: 600px;
    padding: 20px;
    color:white;
}
  .phone{
    width: 300px;
    height: 500px;
    margin: 0 auto;
    border: black solid 2px;
    border-radius: 20px;
    padding: 24px;
    text-align: left;
    background-color:white;
        overflow: auto; /* Add a scrollbar if content overflows */

  }
  body{
    margin: 0 auto;
    width: 800px;
  }
  button{
    text-align:center;
    margin-top: 20px;
  }
  .page{
    text-align:center;
  }