body, button{
  font-family: "Arial Narrow", "AvenirNextCondensed-Regular", sans-serif;
}
.sideNav{
  position: sticky;
  top: 0;
  display:flex;
  max-width: 160px;
  max-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  padding:16px 24px 16px 16px;
}
a:hover, a:visited:hover{
  color: blue;
}
a{
  color:black;
  text-decoration-color: rgb(57, 156, 255);
  text-decoration-style: wavy;
}
a:visited{
  color: black;
  text-decoration-color: rgb(57, 156, 255);
  text-decoration-style: wavy;
}
@media only screen and (max-width: 40em) {
  .sideNav{
  max-width: 40em;
  position:static;
  padding:8px;
}
.card p{
font-size:.8rem;
}
}