body{
  font-family: "Arial Narrow", "AvenirNextCondensed-Regular", sans-serif;
  cursor:none;
}
button{
  font-family: "Arial Narrow", "AvenirNextCondensed-Regular", sans-serif;
}
.question:hover{
  cursor: help;
}
.blob {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  filter:blur(2px);
  box-shadow: 0 0 10px 5px rgba(255, 221, 109, 0.5),
              0 0 20px 10px rgba(255, 221, 109, 0.3),
              0 0 30px 15px rgba(255, 233, 159, 0.1);
  position: fixed; 
  pointer-events: none; 
  transform: translate(-50%, -50%); 
  transition: all 0.1s cubic-bezier(0.23, 1, 0.32, 1);

}

.sideNav{
  position: sticky;
  top: 0;
  display:flex;
  max-width: 160px;
  max-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  padding:16px 24px 16px 16px;
}
a:hover, a:visited:hover{
  color: blue;
}
a{
  text-decoration-color: rgb(57, 156, 255);
  text-decoration-style: wavy;
}
a:visited{
  color: black;
  text-decoration-color: rgb(57, 156, 255);
  text-decoration-style: wavy;
}
#addendum{
  font-weight:400;
  display:none;
}
@media only screen and (max-width: 40em) {
  #addendum{
    display:block;
  }
  .sideNav{
  max-width: 40em;
  position:static;
  padding:8px;
}
.card p{
font-size:.8rem;
}
}