body{
  background-image: url("./image/whatisthis.jpg");
}
h2{
  font-weight: 400;
  mix-blend-mode: multiply;
  color: darkblue;
  opacity:70%;
}
.row{
  flex-direction: row;
  display: flex;
}
h3{
  color:lightblue;
  font-weight:400;
}
h3 a{
  color:lightblue
}