body{
  background-image: url("./image/whatisthis.jpg");
}
h2{
  font-weight: 400;
  mix-blend-mode: hard-light;
  color: rgb(73, 0, 93);
  opacity:90%;
}
.row{
  flex-direction: row;
  display: flex;
}
h3{
  color:lightblue;
  font-weight:400;
}
h3 a{
  color:lightblue
}