body{
  background-image: url("./background.png");
  background-size:cover;
  background-color: #d7eafc;
  color: #446ca7;
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
}
.row{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.nav{
  width: 200px;
  margin-right:30px;
}
.side{
  margin-left: 50px;
  width:800px;
}
.nav a{
  padding-right: 20px;
}
a{
  text-decoration-style: wavy;
  text-decoration-color: #c8d2dc;
}
a, a:visited{
  color: #3751e6;
}
a:hover{
  color:#798da0;
}
p{
  font-family: 'VT323', monospace;
  font-size: 1.2em;
}
em{
  color:#798da0;
}
h1, h2, h3{
  font-family: 'Pangolin', cursive;
}